.auth-header {
    display: flex;
    background-color: rgb(80, 5, 151);
    color: white;
    justify-content: space-around;
    align-content: center;
}

.header-nav {
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding: 1rem;
}

.header-nav ul {
    list-style: none;
    display: flex;
}

.header-nav li {
    padding: 0 1rem;
}

.header-nav a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}


.header-nav button {
    border: 1px black solid;
    border-radius: 8px;
    background-color: rgb(246, 198, 108);
    width: 6rem;
    height: 2rem;
    margin: auto 1rem;
    font-size: 1.2rem;
}